CONTAINER_NAME=demo
DOCKER_HUB_URL=hub.itgest.co.ao:5000
DOCKER_HUB_PATH=demo

# Default Aplication
TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
IN_STAGING=false
NODE_ENV=development
SESSION_DRIVER=cookie
APP_KEY=JspnJyaeGrtCzhtDLUapvb11uZsGmiiV

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=

# Email
SMTP_HOST=0.0.0.0
SMTP_PORT=1025
SMTP_USERNAME=acidineydias
SMTP_PASSWORD=123456

# Mongo
MONGODB_URL=mongodb://localhost:27017?authSource=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Others
LIMITER_STORE=database
LOCK_STORE=database
DRIVE_DISK=local
