<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all color="#555555" font-size="14px" font-family="Arial, Helvetica Neue, Helvetica, sans-serif;"></mj-all>
      <mj-class name="text" line-height="1.2" word-break="break-world"></mj-class>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text align="center" font-weight="600" font-size="26px" color="#555555">
          {{ plataform }}
        </mj-text>

        <mj-text align="center" font-weight="500" font-size="24px" color="#555555">
          Pedido de alteração de senha
        </mj-text>
        <mj-divider border-color="#BBBBBB" border-width="1px"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text mj-class="text">
          Olá caro(a) {{ user.fullName }},
        </mj-text>
        <mj-text mj-class="text">
          Foi feito um pedido para a recuperação da sua senha, caso tenha sido você, clique no botão a baixo para poder efectuar a recuperação da senha:
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-button font-size="14px" background-color="#3AAEE0" border="1px solid #3AAEE0" color="#fff" href="{{link}}" target="__blank">Redifinir Senha</mj-button>

        <mj-text font-size="10px" mj-class="text">No caso do botão não funcionar, copie o link abaixo e cole em uma nova aba do seu navegador:</mj-text>

        <mj-button font-size="10px" background-color="transparent" color="#3AAEE0" align="left" href="{{link}}" target="__blank" padding="0">{{link}}</mj-button>

        <mj-text font-size="10px" mj-class="text">Cumprimentos,</mj-text>
        <mj-text font-size="10px" mj-class="text">
          {{ plataform }}
        </mj-text>
        <mj-text font-size="10px" line-height="0">
          ---
        </mj-text>
        <mj-text font-size="10px" line-height="0">
          E-mail gerado automaticamente
        </mj-text>

        <mj-text font-size="10px" line-height="1.2" word-break="break-world">
          {{ hash }}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
