<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica">Olá, {{name }}</mj-text>
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica">A sua palavra passe foi alterada com sucesso,
          aos {{ data }}</mj-text>
        {{ hash }}
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica"></mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
